/* 00) CSS Variables -------------------------------------------------------- */

:root { 
    
    /* Color */
    --cl-main: #fb820f; 
    --cl-black: #111;
    --cl-white: #f3f2f2;
    --cl-purple: #7e0284; 
    --cl-pink: #f68cfc; 
    --cl-blue: #13306a; 
    --cl-lightblue: #4184fd; 
    --cl-cyan: #17bcc2;
    --cl-green: #00be02; 
    --cl-yellow: #fdf500; 
    --cl-orange: #fb820f;
    --cl-red: #be0002;

    /* Header & Footer */
    --header-h: 80px;

    /* Z-Index */
    --z-min: -1; 
    --z-back: 0; 
    --z-middle: 1; 
    --z-front: 2; 
    --z-max: 10;
}

/* 01) HTML Tags ------------------------------------------------------------ */

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    z-index: var(--z-middle);
}

html { 
    font-family: "Poppins", sans-serif; 
    font-size: 16px;
}

body { 
    background: #f2f2f2;
    overflow-x: hidden;
    &.no-scroll { 
        overflow-y: hidden;
    }
}

:is(ul, ol) > li {
    margin-left: 1em;
}

a { 
    text-decoration: none; 
    transition: 0.4s;
}

input, textarea, select {  
    font-family: "Poppins", sans-serif; 
    outline: none;
    border: none;
}

textarea { 
    resize: none;
}

section { 
    width: 100%; 
    max-width: 1200px; 
    margin: 128px auto;
    &.full { 
        max-width: 100%; 
        margin: 0 auto;
        height: calc(100vh - var(--header-h));
    }
    &.full-w { 
        max-width: 100%;
    }
    &.full-h { 
        height: calc(100vh - var(--header-h));
    }
}

/* Tablet */
@media screen and (max-width: 1024px)
{
	section.full, section.full-h { height: auto; }
}

/* 02) Utility classes ------------------------------------------------------ */

.container { 
    width: 100%; 
    margin-top: var(--header-h);
}

.grid { 
    width: 100%; 
    max-height: 100%; 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    &.center { align-items: center; }
    &.stretch { align-items: stretch; }
    &.baseline { align-items: baseline; }
    & > .column { 
        display: flex; 
        justify-content: center; 
        align-items: center;
        max-height: 100%; 
        padding: 16px;
    }
    & > .col-10 { width: 10%; }
    & > .col-20 { width: 20%; }
    & > .col-25 { width: 25%; }
    & > .col-33 { width: 33.33%; }
    & > .col-40 { width: 40%; }
    & > .col-50 { width: 50%; }
    & > .col-60 { width: 60%; }
    & > .col-70 { width: 70%; }
    & > .col-75 { width: 75%; }
    & > .col-80 { width: 80%; }
    & > .col-90 { width: 90%; }
    & > .col-100 { width: 100%; }
}

.flex { 
    display: flex;
    &.wrap { 
        flex-wrap: wrap;
    }
    &.center { 
        justify-content: center; 
        align-items: center;
    }
    &.w-center { 
        justify-content: center;
    }
    &.v-center { 
        align-items: center;
    }
    &.stretch { 
        align-items: stretch;
    }
    &.left { 
        justify-content: flex-start;
    }
    &.right { 
        justify-content: flex-end;
    }
    &.top { 
        align-items: flex-start;
    }
    &.bottom { 
        align-items: flex-end;
    }
    
    &.vertical { 
        flex-direction: column;
        &.w-center { align-items: center; }
        &.v-center { justify-content: center; }
        &.stretch { justify-content: stretch; }
        &.left { align-items: flex-start; }
        &.right { align-items: flex-end; }
        &.top { justify-content: flex-start; }
        &.bottom { justify-content: flex-end; }
    }

}
.selectable {
    color: var(--cl-black);
    user-select: text;

    &::selection {
        color: var(--cl-main);
        background-color: var(--cl-black);
    }
}
h1, h2, h3, h4, h5, h6, /* Headers */
i, em, b, strong, sub, sup, /* Common inline elemnts */
span, output, a, kbd, abbr, wbr, /* Other inline elements */
li, code, pre, td, th, hr, label, legend /* Other non-inline elements */ {
    @extend .selectable;
}
hr {
    width: 85%;
    margin-inline: 7.5%;
    user-select: none;
    border-color: var(--cl-main);
}
.text {
    word-break: keep-all;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    @extend .selectable;
    &.center {
        text-align: center;
    }
}

.link {
    text-transform: none;
    text-decoration: none;
    color: var(--cl-black);
    
    &:hover {
        text-decoration: underline;
    }
}

.button { 
    padding: 8px 16px; 
    background: #eeeeee; 
    border: 2px solid var(--cl-black);
    color: var(--cl-black);
    user-select: none;
    cursor: pointer;
    i {
        color: inherit;
    }
    &:hover {
        background-color: var(--cl-black);
        color: #fff;
    }
    &.rounded { border-radius: 64px; }
    &.color {
        border-color: var(--cl-main);
        color: var(--cl-main);
        background: #fff;
        &:hover {
            background: var(--cl-main);
            color: #fff;
        }
        &.fill {
            background: var(--cl-main); 
            color: #fff;
            border-color: var(--cl-main);
            &:hover {
                background: #fff;
                color: var(--cl-main); 
            }
        }
        
    }
    &.cool {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
        min-height: 2.5em;
        width: fit-content;
        transition: all ease-in-out .3s;
        box-shadow: 0 9px var(--cl-main);
        color: var(--cl-black);
        border-color: var(--cl-black);
        transform: translateY(0);
        &:hover {
            background-color: #eeeeee;
        }
        &:active {
            transform: translateY(5px);
            box-shadow: 0 4px var(--cl-main);
        }
    }
}

.filter { 
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.4;
    z-index: var(--z-min);
}

#top { 
    position: absolute; 
    top: 0;
}

.scroll-top { 
    position: fixed; 
    right: 16px; 
    bottom: 16px; 
    width: 48px;
    height: 48px;
    z-index: #000;
    background: #fff;
    color: #000;
    border: 3px solid #000;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    z-index: var(--z-front);
    &:hover {
        i {
            color: #fff;  
        }
        background: #000;
        color: #fff;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
    i { 
        font-size: 24px; 
        line-height: 14px;
    }
    p {
        font-size: 14px; 
        line-height: 14px;
        font-weight: 700;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px)
{
    .grid > :is(.col-10, .col-20, .col-25, .col-33, .col-40, .col-50, .col-60, .col-70, .col-75, .col-80)
    {
        width: 100%;
    }
}

/* 03) Header --------------------------------------------------------------- */

header { 
    width: 100%; 
    height: var(--header-h); 
    position: fixed; 
    left: 0;
    top: 0;
    padding: 16px;
    transition: 0.4s;
    background: #fff;
    z-index: var(--z-max);
    .logout {
        margin-left: 48px;
        color: #222;
        position: relative;
        width: max-content;
        font-weight: 600;
        &::after {
            content: "";
            position: absolute;
            left: 0; 
            top: calc(100% + 2px);
            width: 0;
            height: 2px;
            background: #222;
            transition: 400ms;
        }
        &:hover::after {
            width: 100%;
        }
        i {
            margin-left: 8px;
        }
    }
}
.logo { 
    width: auto; 
    height: calc(var(--header-h) - 16px); 
    img { 
        height: 100%;
        object-fit: cover;
    }
}


/* Mobile */
@media screen and (max-width: 767.98px)
{
	header .logout { 
        margin-left: 24px;
        span { display: none; }
        i { 
            margin-left: 0;
            font-size: 24px;
        }
    }
}

/* 04) Form ----------------------------------------------------------------- */

.login { 
    height: calc(100vh - var(--header-h)); 
    margin: 0 auto !important;
}

.mail-result { 
    margin-bottom: 16px;
    font-size: 16px;
    &.success {
        color: #95e595;
    }
    &.failure {
        color: #e59595;
    }
}

form { 
    width: 80%;
    min-width: 75vw;
    background: var(--cl-main);
    border-radius: 32px;
    padding: 64px;
    border: 3px solid #222;
    :is(h2, h3, h4) {
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
    }
    :is(h5, h6) {
        width: 100%;
        text-align: center;
    }
    h3 {
        font-size: 28px;
        line-height: 1.2;
    }
    :is(input, textarea, select) {
        padding: 16px;
        color: #222;
        margin: 8px 0;
        width: 75%;
        font-size: 16px;
        border: 3px solid #222;
        &:focus {
            background: #222;
            color: #fff;
        }
    }
    label {
        width: 25%;
        color: #222;
        padding: 16px;
        font-size: 16px;
        background: #fff;
        border: 3px solid #222;
        text-align: center;
        border-right: none;
    }
    input[type="submit"] {
        cursor: pointer;
        transition: 400ms;
        font-weight: 600;
        box-shadow: none;
        width: max-content;
        padding: 12px 24px;
        margin-top: 24px;
    }
    :is(input, button, select):disabled { 
        cursor: not-allowed; 
        opacity: .3;
    }
    .checkbox {
        width: 75%;
        height: auto;
        border: 3px solid #222;
        font-size: larger;
        padding: 16px;
        background-color: white;
        & > input[type="checkbox"] {
            width: 100%;
            margin: 0;
            min-height: 1.3em;
            position: relative;
            &::after {
                position: absolute;
                width: 25%;
                left: 75%;
                color: #222;
                user-select: none;
                content: "No";
            }
            &:checked::after {
                content: "Sì";
            }
        }
    }
}

/* Tablet */
@media screen and (max-width: 1024px)
{
	.login { padding: 32px 0; }

	form { 
        padding: 32px;
        h3 { font-size: 22px; }
    }
    .checkbox {
        padding: 5px;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px)
{
	form { 
        width: 100%; 
        padding: 24px; 
        border-radius: 24px; 
        h3 { 
            font-size: 20px; 
        }
        .input-box { 
            flex-wrap: wrap; 
            input, select {
                width: 100%;
                margin: 0 0 24px 0;
            }
        }
        label {
            border-right: 3px solid #222; 
            border-bottom: none;
            width: max-content; 
            padding: 8px 16px;
        }
        input[type="submit"] {
            width: 100%;
            max-width: 100%;
            margin-top: 8px;
        }
        label, input, select {
            font-size: 14px;
        }
    }
}

/* 05) Admin ---------------------------------------------------------------- */

.admin { 
    height: auto;
    min-height: calc(100vh - var(--header-h));
    margin: 0 auto !important;
    .grid { height: auto; }
}

.admin-card { 
    width: 100%; 
    background: #fff; 
    border-radius: 32px; 
}
.admin-card { 
    padding: 32px; 
    border: 3px solid var(--cl-main);
    h3 { 
        font-size: 20px; 
        margin-bottom: 16px; 
    }
    .button { 
        font-size: 18px; 
        font-weight: 500; 
        border-color: var(--cl-main);
        background-color: #fff;
        color: #000;
    }
    .button:hover {
        color: #fff;
        background-color: var(--cl-main);
    }
}

.edizione, .staff-data {
    width: 100%;
    margin: 0;
    padding: .5em 1em;
    user-select: none;
}

/* Tablet */
@media screen and (max-width: 1024px)
{
	.admin-card { 
        width: 100%; 
        padding: 48px; 
    }
}

/* Smartphone */
@media screen and (max-width: 767.98px)
{
	.admin { 
        padding: 32px 0; 
    }

	.admin-card { 
        padding: 32px; 
        border-radius: 24px; 
        h3 { font-size: 22px; }
        .button { font-size: 15px; }
    }
}

/* 06) Table ---------------------------------------------------------------- */

.table-section { 
    height: auto; 
    margin: 32px auto; 
    h2 { 
        font-size: 32px; 
        width: max-content; 
        position: relative; 
        margin: 32px 0;
        &::after {
            content: "";
            position: absolute; 
            width: 50%;
            height: 3px; 
            left: 0; 
            top: 100%;
            background: var(--cl-main);
        }
    }
}


table { 
    width: max(250px, min(80%, 1000px));
    margin: 16px; 
    padding: 0; 
    border: none; 
    background: none;
    z-index: var(--z-min);
    tbody {
        width: 100%;
        padding: 0;
    }
    thead {
        tr {
            border-bottom: 0;
        }
    }
    tr {
        width: 100%; 
        margin: 0; 
        border: 2px solid #222;
        &:nth-child(odd) { background: #f2f2f2; }
        &:nth-child(even) { background: #fff; }
    }
    td, th {
        border: none;
        border-bottom: 1px solid #ccc; 
        font-size: 15px;
        font-weight: 400;
        &[data-label] {
            text-align: right; 
            &::before {
                content: attr(data-label);
                text-transform: uppercase;
                float: left; 
                font-weight: 600;
            }
        }
    }
    th {
        background: var(--cl-main);
    }

    &.gender-m {
        th {
            background: var(--cl-lightblue);
            color: var(--cl-white);
        }
    }
    
    &.gender-f {
        th {
            background: var(--cl-pink);
        }
    }

    a { color: black; }

    &:not(.default-table) {
        width: calc(50% - 32px); 
        border-collapse: collapse; 
        table-layout: fixed; 
        tr {
            display: block;
            padding: 0;
            background: #f2f2f2;
        }
        td, th {
            width: 100%; 
            margin: 0; 
            padding: 4px 8px; 
            display: block; 
        }
        
        td {
            &:nth-child(odd) { background: #f2f2f2; }
            &:nth-child(even) { background: #fff; }
            
            &:last-child { border-bottom: 0; }
        }
    }
    &.center {
        text-align: center;
        tr, th, td {
            text-align: center;
        }
    }
}
.tables {
    width: 100%;
}
/* Tablet */
@media screen and (max-width: 1024px)
{
	.table-section h2 { font-size: 28px; }
	
	table td { font-size: 14px; }
}

/* Smartphone */
@media screen and (max-width: 767.98px)
{
	.table-section h2 { font-size: 24px; }

	table { 
        width: 98% !important; 
        margin: 8px 1%; 
        td, th {
            font-size: 13px;
        }
    }
}


.logo-edizione {
    width: 100%;
    min-width: 100px;
    max-width: 7em;
    aspect-ratio: 1 !important;
    max-height: 7em;
    overflow: hidden;
    margin: 0;
    padding: 0;
    user-select: none;
}

/* Smartphone */
@media screen and (max-width: 767.98px)
{
    .logo-edizione {
        max-width: 80px;
        max-height: 80px;
    }
}